h1{
    font-family: sans;
    font-size: 40px;

  }
  h2{
    font-family: sans;
    font-size: 30px;

  }

  p{
    font-family: helvetica, arial;
    font-size: 17px;
  }

  li{
    font-family: helvetica,arial;
    font-size: 15px;

  }

  body{
    margin: 0;

  }

  header{
    background-color: #E6E8F9;
    text-align: center;

  }

  header h1{
    color: #1B8E05;
  }

  footer{
    background-color: #E6E8F9;
    text-align: center;
  }

  footer h3{
    color: black;

  }