h1{
    font-family: sans;
    font-size: 40px;

  }
  h2{
    font-family: sans;
    font-size: 30px;

  }

  p{
    font-family: helvetica, arial;
    font-size: 17px;
  }

  li{
    font-family: helvetica,arial;
    font-size: 15px;

  }

  body{
    margin: 0;

  }

  header{
    background-color: #E6E8F9;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  header h1{
    color: #1B8E05;
  }

  header img{
    border-radius: 150px;
    width: 200px;
    height: 200px;
    border: 8px solid #5C96D5;

  }

  footer{
    text-align: center;
    background-color: #E6E8F9;
    padding-bottom: 10px;
    padding-top: 10px;
  }


  main{
    padding-left: 20px;
    max-width: 800px;

  }

  main a{
    color: black;
  }

  footer a{
    color: black;
  }


  a:hover{
    color: #483a84;


  }